* {
    font-family: "Montserrat";
    padding: 0;
}

h1 h2 h3 h4 h5 h6 {
    font-family: "Montserrat";
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

p {
    font-size: 16px;
    color: #494949;
    line-height: auto;
    font-family: "Montserrat";
}
.navbar{
    padding-left: 0;
    
}
.navbar-nav {
    margin-left: 30%;
}

.nav-link {
    margin-left: 32px;
    font-size: 16px;
}

.navbar-brand {
    margin-left: 10%;
    font-weight: bold;
}

#btn-sign-up {
    height: 36px;
    border-radius: 24px;
    width: 120px;
    margin-left: 48px;
    background-color: #57be7e;
    border: none;
    box-shadow: 0px 7px 24px rgba(42, 97, 63, 0.2);
}

#navbar {
    box-shadow: 0px 7px 24px rgba(42, 97, 63, 0.14);
}

#banner div {
    margin-top: 156px;
    padding-left: 20%;
}

#banner div button {
    height: 36px;
    background-color: #57be7e;
    border: none;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0px 8px 24px rgba(42, 97, 63, 0.2);
}

#banner-img {
    width: 100%;
}

#banner div h1 {
    font-size: 48px;
    line-height: 59px;
    color: #57be7e;
}

#second-section {
    width: 75%;
    margin: 10% auto;
}

#section-heading {
    text-align: center;
    font-size: 32px;
}

.grid-item {
    float: left;
    width: calc((100% / 4) - 20px);
    background-color: #57be7e;
    border-radius: 24px;
    margin-right: 20px;
    padding: 20px;
}

.grid-item:hover {
    box-shadow: 0px 8px 24px rgba(42, 97, 63, 0.4);
}

.grid-container {
    float: left;
    width: 100%;
    margin: 20% auto;
    margin-top: 54px;
}

#card-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
}

#card-circle:hover {
    box-shadow: 0px 4px 16px rgba(42, 97, 63, 0.4);
}

#cards h4 {
    margin-top: 20px;
    color: white;
    font-size: 18px;
}

#cards p {
    margin-top: 10px;
    color: white;
    font-size: 14px;
    width: 155px;
}

p>a {
    margin-top: 50px;
    color: white;
    text-decoration: none;
}

#sub-heading {
    text-align: center;
}

section.hero {
    width: 100%;
    margin: auto;
}

#third-section {
    width: 75%;
    margin: 20% auto;
}

#third-section {
    font-size: 32px;
    color: #494949;
}

.grid-container2 {
    display: inline-grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 230px 230px;
    justify-content: center;
    align-content: center;

    margin-top: 20px;
}

#grid-item-2 {
    /* width: 215px; */
    height: 230px;
}

#grid-item-2 div {
    /* margin-left:30px; */
    color: #494949;
}

#grid-item-2 div h4 {
    font-size: 18px;
    margin-top: 5px;
}

#grid-item-2-p {
    font-size: 14px;
    color: #494949;
    margin-top: 20px;
}

#grid-item-2 div img {
    margin-top: 10px;
    margin-left: 10px;
}

#grid-item-2-p1 {
    font-size: 14px;
    color: #494949;
}

#grid-container-3 {
    display: inline-grid;
    grid-gap: 20px;
    grid-template-columns: auto;
    grid-template-rows: 230px;
    justify-content: center;
    align-content: center;
}

.grid-item-1 {
    width: 100%;
    height: 180px;
    background: #fafafa;
    text-align: center;
    padding-top: 30px;
    margin-top: 20px;
}

.grid-item-1>button {
    border-radius: 20px;
    background-color: #57be7e;
    border: none;
    box-shadow: 0px 8px 24px rgba(42, 97, 63, 0.2);
}

.grid-item-1>button:hover {
    background-color: rgb(87, 190, 109);
    box-shadow: 4px 16px 35px rgba(42, 97, 63, 0.383);
}

footer {
    width: 100%;
    height: 184px;
    left: 0px;
    background: #57be7e;
    overflow: hidden;
    margin-top: 50px;
    padding-top: 50px;
}

footer div {
    margin-left: 41.5%;
    display: inline-block;
}

footer a {
    margin-left: 24px;
}

footer p {
    color: white;
    margin-top: 14px;
    font-size: 14px;

    text-align: center;
}